<!--The content below is only a placeholder and can be replaced.-->
<div>
    
  <div class="square"></div>
  <div class="triangle-up"></div>
  <div class="triangle-down"></div>
  <div class="trapezoid ">  </div>
  <div class="rectangle"> <img id="Boy" src="https://5.imimg.com/data5/MB/GF/MY-15175176/johnson-floor-tile-500x500.jpg">
  </div>
  <!-- <div>
    <img id="Boy" src="https://5.imimg.com/data5/MB/GF/MY-15175176/johnson-floor-tile-500x500.jpg">
  </div> -->
  <button (click)="addtiles()">TILES</button>
  <!-- <img id="boy" src='https://5.imimg.com/data5/MB/GF/MY-15175176/johnson-floor-tile-500x500.jpg'>
</div> -->

